/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background-color: #f5f7fa;
  font-family: 'Roboto', sans-serif;
}

h3, .fancy-title {
  font-family: 'Pacifico', cursive; /* Apply the fancy font */
  color: #4A4A4A; /* Darker color for the title */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for a 3D effect */
}

img {
  display: inline-block;
}

.pantry-container {
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.add-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.item-list {
  margin-top: 20px;
  padding-left: 0;
}

.item-list li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

button {
  background-color: #3f51b5;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #5c6bc0;
}
